# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# LangGraph / Temporary Files
*.sqlite
*.db


# models/*.pkl

# data/*.csv